/*.anime{*/
/*    display: none;*/
/*}*/

*{
    margin: 0 auto;
    font-family: Raleway;
}
#subscribe-link{
    margin-bottom: 15px;
}
#logo img{
    width: 150px;
}
a{
    color: #EE7247;
    text-decoration: none;
    font-size: 2rem;
}
#imagedefond{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -100;
}
.container{
    margin-top: 0;
    margin-bottom: 9vh;
    text-align: center;
    width: 100vw;
    /*min-height: 85vh;*/
    overflow: hidden;
    overflow-y: visible;
}

.avatar{
    padding-top: 7vh;
    text-align: center;
}

.avatar img{
    width: 60%;
}

.card-body{
    width: 60%;
    margin-top: 5vh;
    text-align: center;
    background-color: rgba(255,255,255,0.8);
    border-radius: 2vh;
    border: solid #707070;
    padding: 25px;
}

h1{
    padding-top: 2vh;
    font-size: 3rem;
    color: #95291E;
    font-family: Raleway;
}

h2{
    padding-top: .5vh;
    padding-bottom: 1vh;
    margin-right: 1vh;
    color: #EE7247;
    text-align: right;
    font-family: Raleway;
}
input{
    border-radius: 5vh;
    border: none;
    height: 50px;
    width: 75%;
    min-height: 3vh;
    margin-top: 3vh;
    font-size: 1.8rem;
    padding-left: 10px;
    padding-right: 10px;
}
.col-md-6 input[type=email],#age{
    background-color: #52BEC8;
}
#age{
    margin-bottom: 25px;
}

.icon{
    height: 0vh;
}

.icon img{
    width: 9%;
    position: relative;
    top: -3vh;
    left: 11vh;
}
.mdp-icon img{
    top: -4vh;
}
.age-icon img{
    top: -4.5vh;
}


.form-control{
    padding-left: 1vh;
}

.col-md-6 input[type=password]{
    background-color: #EE7249;
    margin-bottom: 1vh;
}
#name{
    background: #52BEC8;
}
.next img{
    width: 15%;
}

.form-check-label{
    font-size: 1.8rem;
    color: #EE7247;
}

.form-check{
    margin-bottom: 1vh;
}

.form-check input[type=checkbox]{
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    border: solid #95291E 2px;
    background-color: #95291E;
    width: 2vh;
    border-radius: 10px;
    transition-duration: 0.5s;
    margin:0px;
}
.form-check input[type=checkbox]:after{
    content: " ";
}

input[type="checkbox"]:checked {
    background: #52BEC8;
    border: solid #52BEC8 2px;
    margin:0px;
    position: relative;

}
input[type="checkbox"]:checked:after {
    content: "X";
    margin-left: 5px;
}

.btn{
    border: none;
    background: none;
}

.btn img{
    width: 5vh;
}

.mdpoublie{
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.mdpoublie a{
    text-decoration: none;
    font-weight: bold;
    color: #EE7247;
    font-size: 1.5rem;
    font-family: Raleway;
}

footer{
    position: fixed;
    bottom: 0;
    height: 8vh;
    width: 100vw;
    background-color: #52BEC8;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
footer a{
    text-align: center;
    margin-top: 30px;
}
footer a img{
    margin: 0;
    padding: 0;
    width: 70%;
}
.profil-link{
    margin-top: 15px;
}
.profil-link img{
    background-color: #95291E;
    border-radius: 50px;
    width: 90%;
}

#searchbar{
    padding: 10px;
}
#searchbar-button{
    background: none;
    border: none;
    position: relative;
}
#searchbar-button img{
    width: 40px;
    position: absolute;
    top: -30px;
    right: 40px;
}
.card-discovery{
    margin-top: 50px;
    height: 30vh;
    width: 80vw;
    background-color: white;
    border-radius: 50px;
    position: relative;
    overflow: hidden;
    background-size: cover;
}
.card-discovery .container-visuel{
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.card-discovery .container-visuel div{
    height: 100%;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
}
.card-discovery .text{
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
    background-image: linear-gradient(0deg, rgba(0,0,0,0.9), rgba(0,0,0,0));
    padding-bottom: 30px;
    padding-top: 30px;
}
.card-discovery .text h3{
    color: white;
    margin-bottom: 50px;
    font-size: 3rem;
    width: 80%;
    font-style: italic;
    text-align: left;
}
.card-discovery .text .petitlien{
    background-color: #EE7247;
    color: white;
    padding: 10px 30px;
    border-radius: 25px;
    font-weight: bolder;
}
#section-defi{
margin-top: 100px;
}
h3{
    font-size: 2.8rem;
    color: #EE7247;
}
.time{
    font-size: 2rem;
    color: black;
    font-weight: bolder;
    font-style: italic;
}
.card-defi{
    background-color: #e84833;
    width: 88vw;
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: left;
    padding: 20px;
    border-radius: 50px;
    color: white;
    position: relative;
    box-shadow: 10px 15px 15px #000;
}
.card-defi .text{
    margin-left: 110px;
}
.card-defi .intitule{
    width: 70%;
    margin-left: 0;
    font-weight: bolder;
}
.quotidien{
    background-color: #52BEC8;
}
.hebdomadaire{
    background-color: #EE723A;
}
.mensuel{
    background-color: #95291E;
}
.card-defi img{
    width: 100px;
    position: absolute;
}
.card-defi span,.card-defi div{
    font-size: 2.5rem;
}
.card-defi .points,.card-defi .objectif{
    font-size: 2rem;
}
.card-defi form{
    margin: 0;
    padding: 0;
}
.card-defi button{
    background: none;
    border: none;
}
.card-defi .objectif,.card-defi button{
    position: absolute;
    right: 140px;
    top: 30%;
}
.card-defi .objectif img,.card-defi button img{
    width: 70px;
}
#info-general{
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 50px 20px;
    padding-bottom: 0;
}
#info-general .avatar{
    margin: 0;
    padding: 0;
    width: 250px;
    border-radius: 50%;
}
#info-general .infos{
    color: white;
    text-align: left;
    margin: 0;
    margin-left: 25px;
    font-size: 2.5rem;
}
#info-general h4{
    font-size: 3rem;
}
#info-general p{
    margin: 25px 0;
    font-size: 1.5rem;
}
#top{
    text-align: center;
}
#top h2{
    color: white;
    text-align: center;
    font-size: 3rem;
    margin-bottom: 20px;
}
#top #soustop{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#top #soustop>div{
    margin: 0;
}
#top #soustop h3{
    color: white;
    font-size: 1.5rem;
    margin-bottom: 20px;
}
#top #soustop img{
    width: 200px;
    height: 200px;
    border-radius: 50px;
}
#container-buttonsearch{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 50px;
}
#container-buttonsearch .buttonsearch img{
    width: 200px;
}
.buttonsearch{
    padding-bottom: 15px;
    border-bottom-width: 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-radius: 15px;
    padding: 15px;
}
#buttonsearch0{
    background-color: #52BEC8;
}
#container-categorie{
    display: grid;
    grid-template-columns: 100vw 100vw 100vw;
    margin-top: 50px;
    transition-duration: 0.5s;
}
#container-categorie>div{
    height: 60vh;
    margin: 0;
    overflow-y: scroll;
}
#container-categorie #anime{
}
.fichesearch{
    display: grid;
    grid-template-columns: 1fr 3fr;
    background-color: #e84833;
    color: white;
    padding: 10px 30px;
    border-radius: 25px;
    margin: 0px 50px;
    margin-bottom: 15px;
}
.fichesearch .illu{
    width: 200px;
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 25px;
    margin-right: 15px;
}
.fichesearch .info{
    text-align: left;
    margin: 0;
}
.fichesearch h4{
    font-size: 3rem;
}
.fichesearch p{
    font-size: 2rem;
}
.fichesearch span{
    font-size: 1.5rem;
}
#linkformfiche{
    background-color: #52BEC8;
    color: white;
    padding: 10px 30px;
    border-radius: 25px;
    font-weight: bolder;
}

#favoris{
}

#favoris #list{
    width: 75%;
    height: 6vh;
    display: grid;
    grid-template-columns : 1fr 1fr 1fr 1fr;
    grid-template-rows : 5vh;
    background-image: url("../img/back.svg");
    background-repeat: no-repeat;
    background-size: 100%;
}

#favoris #list img{
    width: 50%;
}
#fav{
    filter: brightness(0.4);
}
#fond{
    display: grid;
    grid-template-columns: 100vw 100vw 100vw 100vw;
    background-color: #EE724A;
    transition-duration: .5s;
}


#list_favoris{
    padding-top: 5vh;
    padding-bottom: 5vh;
    display: grid;
    grid-template-columns : 1fr 1fr 1fr;
    grid-gap: 2vh;
}

#list_favoris img{
    width: 75%;
}

.categorie p{
    margin-top: 1vh;
    font-family: 'Raleway';
    color: white;
    font-size: 1.2rem;
}

#next button[type=button]{
    background: transparent;
    border: none;
}

#next img{
    width: 50%;
    margin-bottom: .5vh;
}
#infofiche{
    height: 400px;
    color: white;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}
#infofiche button{
    background: none;
    border: none;
}
#infofiche form{
    position: absolute;
    right: 15px;
    top: 15px;
}
#infofiche form img{
    width: 100px;
}
#infofiche>*{
    position: absolute;
}
#infofiche>img{
    width: 150px;
    top: 15px;
    left: 15px;
}
#infofiche>h4{
    width: 100%;
    text-align: center;
    top: 15px;
    font-size: 2rem;
    text-shadow: black 0.1em 0.1em 0.2em;
}
#infofiche>span{
     bottom: 15px;
     left: 15px;
    font-size: 2.5rem;
 }
#infofiche #annee{
    bottom: 15px;
    left: 45%;
}
#infofiche #filter{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(0deg, rgba(0,0,0,0.9), rgba(0,0,0,0));
    top: 0;
    left: 0;
}
#description{
    color: white;
    margin: 5vw;
    font-size: 0.8rem;
}
.titredefifiche{
    color: #95291E;
}
.titredefifiche span{
    font-size: 0.8rem;
}
#infofiche>div{
    bottom: 15px;
    right: 15px;
}
#infofiche>div a{
    margin-left: 15px;
}
#infofiche>div img{
    width: 70px;
    filter: invert(1);
}
#titleformdefi{
    font-size: 2.5rem;
    color: white;
}
#formDefis{
    background-color: #52BEC8;
    width: 88vw;
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: center;
    padding: 15px;
    border-radius: 50px;
    color: white;
}
#formDefis>*{
    display: block;
    margin-bottom: 15px;
}
#formDefis input{
    padding: 15px;
}
#formDefis select{
    font-size: 2rem;
    background-color: white;
    border-radius: 25px;
}
#formDefis option{
    font-size: 0.6rem;
    background-color: white;
}
#formDefis button{
    border: none;
    background: none;
}
.edit_profil{
    font-size: 2rem;
}
.edit_profil input{
    border-radius: 5vh;
    border: none;
    height: 50px;
    width: 75%;
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 1.8rem;
    background-color: #ffefda;
}
.edit_profil label{
    margin-top: 25px;
    margin-bottom: 25px;
}
.edit_profil button{
    margin-top: 2vh;
    margin-bottom: 2vh;
    background-color: #52BEC8;
    border: none;
    border-radius: 50px;
    padding: .5vh 2vh;
    font-size: 2.5rem;
    text-transform: capitalize;
}
.edit_profil #ptitphrase{
    margin-bottom: 100px;
}

/*form fiche*/

.fiche_form_title{
    display: flex;
    flex-direction: column;
    margin: 2vw 3vw;
}

.fiche_form_title span:nth-child(1){
    background-color: #52BEC8;
    border-radius: 50px;
    padding: 1.5vh 2vh;
    font-size: 2.5rem;
    margin: 2vh;
}
.fiche_form{
    font-size: 2rem;
    color: white;
    background-color: #95291E;
    width: 80vw;
    border-radius: 25px;
}
.button_radio_lst{
    width: 100%;
}

#row{
    width: 100%;
    padding: 0;
}

#row ul{
    padding: 0;
}

.fiche_form div input[type=radio]{
    width: 50%;
}

#liste{
    margin: 0;
    margin: auto;
    width: 75%;
}

#liste div{
    width: 60%;
    display: flex;
    margin-top: 3vh;
    margin-bottom: 2vh;
}

#liste input{
    width: 25%;
    margin: 0;
}

#categ{
    margin: 0;
    width: 100%;
}

#categ select{
    margin-top: 2vh;
    width: 75%;
}

.fiche_form input[type=text]{
    background-color: transparent;
    border-radius: 0;
    border-bottom: 2px solid white;
    margin-bottom: 5vh;
}

.fiche_form_text{
    font-size: 3rem;
    color: white;
}

.fiche_form select{
    font-size: 2rem;
    background-color: white;
    border-radius: 25px;
}
.fiche_form option{
    font-size: 0.6rem;
    background-color: white;
}
.fiche_form button{
    border: none;
    background: none;
}
.form_profil{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
textarea{
    z-index: 100;
    border-radius: 2vh;
    border: none;
    padding: 25px;
    width: 75%;
    margin-top: 3vh;
    font-size: 1.8rem;
    background-color: #ffefda;

}
/*ADMIN*/
.ls_admin{
    display: flex;
    flex-direction: column;
}
.ls_admin_title{
    font-size: 3rem;
    color: white;
    border-bottom: 2px solid white;
}
.ls_admin a{
    color: white;
    border: 2px solid white;
    padding: 2vh;
    margin: 3vh;

}

.ls_admin_nom_lien{
    margin: 3vh;
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    background-color:#52BEC8;
border-radius: 50px;
}
.ls_admin_nom{
    font-size: 2rem;
    margin: auto;
    color: white;
}
.ls_admin_lien{
    display: flex;
    flex-direction: column;
}

#fichiers{
    margin-top: 3vh;
}

#fichiers p{
    color: black;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

#fichiers img{
    width: 5%;
}

#liens input{
    background-color: #52BEC8;
    border-radius: 50px;
    padding: 1.5vh 2vh;
    font-size: 2.3rem;
    margin: 2vh;
}

#buttonsend button{
    background-color: #EE723D;
    border-radius: 50px;
    padding: .7vh 1vh;
    font-size: 2rem;
    margin: 2vh;
}

#titre{
    color: white;
    font-size: 2rem;
    text-transform: capitalize;

}

#bouton input{
    background-color: #52BEC8;
    border-radius: 50px;
    padding: 1.5vh 2vh;
    font-size: 2.3rem;
    margin: 2vh;
    text-transform: capitalize;
}

#type{
    color: white;
    font-size: 3rem;
    margin-bottom: 1vh;
}


#selecte select{
    width: 80%;
    margin-bottom: 2vh;
    background-color: #52BEC8;
    border-radius: 50px;
    padding: 1vh 2vh;
    font-size: 1.5rem;
    text-transform: capitalize;
}

#image{
    width: 75%;
}

#envoyer button{
    margin-top: 2vh;
    margin-bottom: 2vh;
    background-color: #EE723D;
    border: none;
    border-radius: 50px;
    padding: .5vh 2vh;
    font-size: 1.5rem;
    text-transform: capitalize;
}
